@model List<FavoriteMovies>
@{
    ViewData["Title"] = "ListFavorites";

    


}
@if (TempData["exists"] is true)
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> This is already on your Favorites List.
    </div>

}
<h1>ListFavorites</h1>

<table class="table table-striped">
    <tr class="bg-secondary text-light">
        <th>Title</th>
        <th>Year</th>
        <th>User Rating</th>
        <th>Delete</th>
    </tr>
    @foreach (FavoriteMovies movie in Model)
    {
        
            <tr>
                <td><a href="../Home/MovieDetails?id=@movie.MovieId">@movie.Title</a></td>
                <td>@movie.MovieYear</td>
                <td><form action="../Home/EditFavorite" method="post"><label><input type="range" class="custom-range" name="userRating" value="@movie.UserRating" id="ageInputId" min="0" max="100" oninput="ageOutputId.value = ageInputId.value"></label><output name="ageOutputName" id="ageOutputId">   @movie.UserRating</output><span>/100</span> <input type="hidden" name="Id" value="@movie.Id" /> <input class="btn btn-secondary btn-outline-primary btn-sm font-weight-bold text-light" type="submit" value="Change Rating"/></form></td>
                <td><button class="btn btn-dark btn-outline-danger" onclick="window.location.href='../Home/DeleteFavorite?id=@movie.Id'">🗑️</button></td>
            </tr>
        
    }
</table>


